_output/
.idea/
.vscode/
.docusaurus/
node_modules/
kiali-mcp-server
kiali-mcp-client

.npmrc
kiali-mcp-server
!cmd/kiali-mcp-server
!cmd/kiali-mcp-client
!pkg/kiali-mcp-server
npm/kiali-mcp-server/README.md
npm/kiali-mcp-server/LICENSE
!npm/kiali-mcp-server
kiali-mcp-server-darwin-amd64
!npm/kiali-mcp-server-darwin-amd64/
kiali-mcp-server-darwin-arm64
!npm/kiali-mcp-server-darwin-arm64
kiali-mcp-server-linux-amd64
!npm/kiali-mcp-server-linux-amd64
kiali-mcp-server-linux-arm64
!npm/kiali-mcp-server-linux-arm64
kiali-mcp-server-windows-amd64.exe
kiali-mcp-server-windows-arm64.exe

python/.venv/
python/build/
python/dist/
python/kiali_mcp_server.egg-info/
!python/kiali-mcp-server
