apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kubernetes-mcp-server.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kubernetes-mcp-server.labels" . | nindent 4 }}
data:
  config.toml: |
    {{- tpl (toToml .Values.config) . | replace ".0" "" | nindent 4 }}
